<nav class="navbar bg-success">
  <div class="container-fluid d-flex justify-content-center">
    <button class="btn" id="btnCarrito">
        <i class="fa-solid fa-cart-shopping text-white fs-1"></i>
    </button>
  </div>
</nav>